 <div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document" style = "max-width: 350px;">
    <div class="modal-content sign-modal">
      <div class="modal-header">
        <table>
          <tr>
            <td><img src="/assets/logos/logo.png" width="30" height="30" class="d-inline-block align-top mr-sm" alt=""></td>
            <td><strong class="ml-sm">Registre-se em segundos!</strong></td>
          </tr>
        </table>
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          
          <div class = "sign-field">
            <small>Qual seu nome?</small>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control form-control-sm" %>
          </div>
          
          <div class = "sign-field">
            <small>Qual sua data de nascimento?</small>
            <%= f.date_field :bday, autofocus: true, autocomplete: "bday", class: "form-control form-control-sm" %>
          </div>
          
          <div class="sign-field">
            <small>Qual o seu email?</small>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-sm" %>
          </div>
        
          <div class="sign-field">
            <small>Insira uma senha</small>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm" %>
          </div>
        
          <div class="sign-field">
            <small>Confirme a senha</small>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-sm" %>
          </div>

          <small><center>Ao cadastrar-me, eu concordo com os <a href = <%= terms_path %>>Termos de Uso</a> e as <a href = <%= privacy_path %>>Políticas de Privacidade</a>.</center></small>
          <button type="submit" class="btn btn-info btn-block mt-sm">Criar minha conta!</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

