<div class = "container container-white">
  <h2 style = "padding-top: 15px; padding-bottom: 15px;">Entrar</h2>
  
  <div style = "max-width: 450px">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="sign-field">
        <small>Email</small>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"  %>
      </div>
    
      <div class="sign-field">
        <small>Senha</small>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        <% if devise_mapping.rememberable? %>
          <%= f.check_box :remember_me %>
          <small>Lembre-se de mim</small>
        <% end %>
      </div>
    
      <button type="submit" class="btn btn-info btn-block mt-sm">Entrar!</button>
    <% end %>
  </div>
</div>

<!--<%= render "devise/shared/links" %>-->
