<% if @list_lactate_test.size > 0  then %>
    <% @list_lactate_test.each do |test| %>
        <% sprint_list = SprintTest.where("lactate_test_id = '" + test.id.to_s + "'").order(order: :asc)%>
        <% sprint_list_size = sprint_list.size %>
        <div class = "list_item  align-items-center pointer" data-toggle="modal" data-target=<%="#modal" + test.id.to_s %>>
            <div class = "col-auto">
                <div class = "circle_info">
                    <% if sprint_list_size < 4 %>
                        <i class="fas fa-ellipsis-h"></i>
                    <% else %>
                        <a class = "circle-number"><%= getMFELFromList(sprint_list) %></a>
                        <a style = "font-size: 0.45em;">m/s</a>
                        <a style = "font-size: 0.45em;">MFEL</a>
                    <% end %>
                </div>
            </div>
            <div class = "col" style = "padding: 0px">
                <div class = "test-local-title"><%= test.local %></div>
                <div class = "test-local-subtitle lh-sm"><%= test.date %> às <%= test.time.to_s[11,5] %> </div>
                <% if sprint_list_size < 4 %>
                    <div style = "padding: 0px; margin: 0px">
                        <b class = "test-local-status">INCOMPLETO</b>
                        
                        <!-- Bolinhas -->
                        <% [1,2,3,4].each do |i| %>
                            <% thisSprint = nil %>
                            <% sprint_list.each do |sprint| %>
                                <% if sprint.order == i %>
                                    <% thisSprint = sprint %>
                                <% end %>
                            <% end %>
                            
                            <!-- Primeira Sprint -->
                            <% if thisSprint == nil %>
                                <i class="far fa-times-circle tlsi-f"></i>
                            <% else %>
                                <i class="far fa-check-circle tlsi-s"></i>
                            <% end %>
                        <% end %>
                        
                    </div>
                <% end %>
            </div>
            
            <div class = "col col-auto align-self-end">
                <% @test = test %>
                <%= form_for @test, url: remove_lactate_test_path, method: :post do |f| %>
                    <%= f.hidden_field(:lactate_test_id, :value => test.id) %>
                    <%= f.button "", type: 'submit', class: "btn btn-link" do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                <% end %>
                    
            </div>
            
            <%= render 'modal_lactate_test', test: test, sprint_list: sprint_list %>
        </div>
    <% end %>
<% else %>
    <div class = "" style = "margin-top: 30px;">
        <center>
            <img src = "/assets/stopwatch.png" height = "45" width = "auto">
            <br>
            <small>Ainda nenhum teste,</br></small>
            <small>já para pista!</small>
        </center>
    </div>
<% end %>


