<!DOCTYPE html>
<html>
  <head>
    <title>LactoRun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield :nav %>
    
    <div class = "container">
      <%= yield %>
    </div>
    
    <%= yield :footer %>
  </body>
</html>
