<!DOCTYPE html>
<html>
  <head>
    <title>LactoRun</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Importação de Fontes -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Oswald|Raleway:900|Roboto&display=swap" rel="stylesheet"> 
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    
  </head>

  <body>
    <%= render 'shared/navbar' %>
    
    <div class = "container">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role = "alert" style = "margin-bottom: 0px;">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role = "alert" style = "margin-bottom: 0px;">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
    <%= render 'shared/footer' %>
    
    
    <!-- Modal para registro-->
    <%= render 'devise/registrations/new-modal' %>
   
    
    <!-- Modal para entrar-->
    <%= render 'devise/sessions/new-modal' %>
    
  </body>
</html>
